html {
  overflow-x: hidden;
}

body {
  background: var(--color-bg);
  scroll-behavior: smooth;
}

.breadcrumbs {
  width: 100%;

  .breadcrumb {
    padding-top: 0.71em;
    margin-bottom: 2.02em;
    text-transform: lowercase;
    font-size: var(--font-size-paragraph-small);

    .breadcrumbsSeparator {
      padding: 0 0.35em;
      color: var(--color-black-50);
    }

    a {
      color: var(--color-black-50);
      text-transform: inherit;
      font-size: var(--font-size-paragraph-small);
    }

    @media all and (max-width: 768px) {
      margin-bottom: 2em;
    }
  }
}
